body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 80%;
}
.shadow-example{
    background-color: antiquewhite;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}
.simple-shadow{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}
.spread-shadow{
    box-shadow: 2px 2px 10px rgba(9, 224, 9, 0.9);
}
.inset-shadow{
    box-shadow: inset 10px 10px 15px rgba(0, 0, 0, 0.2);
}
.blur-shadow{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}
.color-shadow{
    box-shadow: 2px 2px 10px rgba(255, 0, 0, 0.9);
}
.multiple-shadow{
    box-shadow: 10px 10px 15px rgba(666, 0, 0, 0.2), -2px -2px 10px rgba(25, 5, 117, 0.8);
}
.bottom-right-shadow{
    box-shadow: 10px 10px 15px rgba(243, 0, 0, 0.2);
}
.top-left-shadow{
    box-shadow: -10px -10px 15px rgba(212, 6, 144, 0.9);
}